/* Fontface*/
@font-face {
  font-family: 'PolarisBook';
  src: url("../fonts/polaris-book-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/polaris-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/polaris-book-webfont.woff") format("woff"), url("../fonts/polaris-book-webfont.ttf") format("truetype"), url("../fonts/polaris-book-webfont.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'PolarisBold';
  src: url("../fonts/polaris-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/polaris-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/polaris-bold-webfont.woff") format("woff"), url("../fonts/polaris-bold-webfont.ttf") format("truetype"), url("../fonts/polaris-bold-webfont.svg") format("svg");
  /* Legacy iOS */ }
html {
  font-size: 16px; }

body {
  line-height: 1.5;
  font-family: 'PolarisBook', sans-serif; }

/*  Headers */
header {
  background: white;
  color: #222222;
  font-family: 'PolarisBold', sans-serif;
  font-size: 0.750rem; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
body {
  width: 100%;
  background: #f0f1f5; }

/* Sections grid layout: divide by columns*/
.wrapper {
  width: 100%;
  margin: 0;
  padding: 1.250em;
  box-sizing: border-box; }

.col-70 {
  width: 70%;
  padding: 0;
  margin: 0;
  float: left; }

.col-30 {
  width: 30%;
  padding: 0;
  margin: 0;
  float: left; }

.col-20 {
  width: 20%;
  padding: 0;
  margin: 0;
  float: left; }
