@import "partials/shopping-partials";

/* Fontface*/
@font-face {
  font-family: 'PolarisBook';
  src: url('../fonts/polaris-book-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/polaris-book-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/polaris-book-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/polaris-book-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/polaris-book-webfont.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'PolarisBold';
  src: url('../fonts/polaris-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/polaris-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/polaris-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/polaris-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/polaris-bold-webfont.svg') format('svg'); /* Legacy iOS */
}

html {
    font-size: 16px;
}

body {
    line-height: 1.5;  
    font-family:  'PolarisBook', sans-serif;
}

/*  Headers */
header {
    background: white;
    color: $primary-color;
    font-family: 'PolarisBold', sans-serif;
    font-size: 0.750rem;
} 


/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
