@import "partials/shopping-partials";

body {
	width: 100%;
	background: $panel;
}

/* Sections grid layout: divide by columns*/
.wrapper {
	width: 100%;
	margin: 0;
	padding: 1.250em;
	box-sizing: border-box;
}

.col-70 {
	width: 70%;
	padding: 0;
	margin: 0;
	float: left;;
}

.col-30 {
	width: 30%;
	padding: 0;
	margin: 0;
	float: left;
}

.col-20 {
	width: 20%;
	padding: 0;
	margin: 0;
	float: left;
}
